streamlit
audio-recorder-streamlit
faster-whisper==1.2.1
chromadb==0.4.24
sentence-transformers==2.5.1
gTTS==2.5.1
huggingface-hub==0.21.4
pydantic==1.10.13
numpy<2.0.0
requests==2.31.0
protobuf==3.20.3
deep-translator==1.11.4
